# Yelp Datasets
trip-planner/yelp_dataset/yelp_academic_dataset_business.json
trip-planner/yelp_dataset/yelp_academic_dataset_checkin.json
trip-planner/yelp_dataset/yelp_academic_dataset_review.json
trip-planner/yelp_dataset/yelp_academic_dataset_tip.json
trip-planner/yelp_dataset/yelp_academic_dataset_user.json
trip-planner/yelp_dataset/processed_data/*
trip-planner/yelp_dataset/non_food_merged.csv


trip-planner/GoogleBooks*
trip-planner/tripAdvisor_API_attempt/api_key.py

./.DS_Store
trip-planner/.DS_Store
*/.ipynb_checkpoints/*

.idea/*
**__pycache__**
