# Yelp Datasets
data/yelp_dataset/yelp_academic_dataset_business.json
data/yelp_dataset/yelp_academic_dataset_checkin.json
data/yelp_dataset/yelp_academic_dataset_review.json
data/yelp_dataset/yelp_academic_dataset_tip.json
data/yelp_dataset/yelp_academic_dataset_user.json
data/yelp_dataset/processed_data/*


data/GoogleBooks*
data/tripAdvisor_API_attempt/api_key.py

./.DS_Store
data/.DS_Store
*/.ipynb_checkpoints/*

.idea/*
**__pycache__**
